<ion-slide-box delegate-handle="info-viewer">
    <ion-slide>
        <ion-content>
            <div class="list card">

                <div class="item">
                    <h2>{{exhibit.titel}}</h2>
                </div>

                <div class="item item-image">
                    <img ng-src="{{exhibit.image}}">
                </div>

                <div ng-bind-html="exhibit.text" class="item item-text-wrap">

                </div>




            </div>

            <div class="list card" ng-if="exhibit.question">
                <div class="item">
                    <h2>{{ 'There is a Question' | translate}}</h2>
                    <button class="button button-block button-dark" ng-click="gotoQuestion()">{{ 'Go to Question' | translate}}</button>
                </div>
            </div>
        </ion-content>
    </ion-slide>
    <ion-slide ng-repeat="sub in sub_exhibits">
        <ion-content>
            <ion-scrol style="height:100%">

                <div class="list card">

                    <div class="item">
                        <h2>{{sub.title}}</h2>
                        <p>{{sub.field_exhibit_description_short}}</p>
                    </div>

                    <div class="item item-image">
                        <img ng-src="{{sub.field_exhibit_image}}">
                    </div>

                    <div class="item item-text-wrap">
                        <p ng-bind-html="sub.field_exhibit_description"></p>
                    </div>
                </div>
            </ion-scrol>
        </ion-content>
    </ion-slide>

    <ion-slide ng-if="exhibit.question">
        <ion-content>
            <ion-scrol style="height:100%">
                <h1>Eine Quizfrage zu dieser Station</h1>
                <question-display   question-id="exhibit.question"></question-display>
            </ion-scrol>
        </ion-content>
    </ion-slide>


</ion-slide-box>