<ion-view view-title="Exponate">
  <ion-content padding="'true'" class="has-header">
       <!--<ion-refresher
                pulling-text="Zum Aktualisieren ziehen ..."
                on-refresh="doRefresh()">
        </ion-refresher>-->
            <div class="list">
                <a class="item item-thumbnail-left" ng-repeat="exhibit in exhibits.exhibits | orderBy:'title'" href="#/app/exhibits/{{exhibit.nid}}">
                    <img ng-if="exhibit.image" src="{{exhibit.image}}">
                    <img ng-if="!exhibit.image" src="img/default.png">
                    <h2>{{exhibit.titel}}</h2>
                    <p>{{exhibit.text}}</p>
                </a>
            </div>
   </ion-content>
</ion-view>