<ion-view title="Grundschüler">
    <ion-content padding="'true'" class="has-header">
        <img src="img/grundschueler.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <h3>Führung für Grundschulklassen (1. - 4. Klasse)</h3>
        <div>
            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

            <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
        </div>
    </ion-content>
</ion-view>