<ion-view title="Führungsliste">
    <ion-content padding="'true'" class="has-header">
     <h1>Führungsliste</h1>
       <ion-list>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/app/grundschueler">
                <img src="img/grundschueler.jpg">
                <h2>Grundschüler</h2>
                <p>Führung für Schulklassen von der 1. bis zur 4. Klasse</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img src="img/schueler.jpg">
                <h2>Schüler</h2>
                <p>Führung für Schulklassen von der 5. bis zur 13. Klasse</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img src="img/kindergarten.jpg">
                <h2>Kindergarten</h2>
                <p>Führung für Kindergartengruppen</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img src="img/senioren.jpg">
                <h2>Senioren</h2>
                <p>Führung für Senioren</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img src="img/behindert.jpg">
                <h2>Menschen mit Behinderung</h2>
                <p>Barrierefreie Führung</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>