<ion-view view-title="{{quiz.titel}}">
    <ion-content padding="'true'" class="has-header">
        <div class="list">

            <!--
            <a class="item item-thumbnail-left" ng-repeat="question in questions">
                <p ng-bind-html="question.title"></p>
            </a>
            -->
            <div ng-show="isShown(key)" ng-repeat="(key, question) in questions">
                <question-display question-id="question.nid" quiz="results[key]" ready-callback="next"></question-display>
            </div>

            <div ng-show="questions.length <= currentQuestion">
                <h1>Gut gemacht, das Quiz ist fertig.</h1>

                <div class="row">
                    <div class="col">
                        <h2>Richtig</h2>
                        <div class="item item-balanced" ng-style="correctStyle">
                            {{ results.correct }}
                        </div>
                    </div>
                    <div class="col">
                        <h2>Falsch</h2>
                        <div class="item item-assertive" ng-style="failStyle">
                            {{ results.fails }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="item item-dark">
                            {{ getQuestionsCorrect() }}

                            {{ questions.length }} Fragen in diesem Quiz<br />
                            Richtig: {{ results.correct }}<br />
                            Falsch: {{ results.fails }}<br />
                            mit {{ results.trys }} Versuchen.<br/>
                        </div>
                    </div>

                </div>




            </div>

        </div>
    </ion-content>
</ion-view>
