<ion-view view-title="{{ 'QUIZ' | translate }}">
    <ion-content padding="'true'" class="has-header">

        <div class="list" ng-if="noquiz.questions > 0">

            <div class="item item-icon-right item-text-wrap">
                {{ 'You did some Questions druring your visit' | translate }}
                <a class="button button-block button-dark" href="#/app/noquizquestion">{{ 'Show my Highscore' | translate }}</a>
            </div>

        </div>

        <div class="list">
            <div class="item item-divider">
                {{ 'Different Quiz to choose' | translate }}
            </div>
            <a ng-repeat="quiz in quiz.data" class="item item-icon-right item-text-wrap" href="#/app/quiz/{{quiz.nid}}">
                <h2 ng-bind-html="quiz.titel"></h2>
                <p ng-bind-html="quiz.text"></p>
                <i class="icon ion-arrow-right-c"></i>
            </a>

        </div>

    </ion-content>
</ion-view>
