<ion-view view-title="Mensch + Natur">
     <ion-content padding="'true'" class="has-header">


         <div class="row">
             <div class="col col-50">
                <a class="mbutton" href="#/app/news" ng-click="clearHistory()" id="news">
                    <div class="home-icon">
                        <span class="icon-m icon-m-news"></span>
                    </div>
                    {{ 'NEWS' | translate }}
                </a>

                 <a class="mbutton" href="#" id="map">
                     <div class="home-icon">
                         <span class="icon-m icon-m-map"></span>
                     </div>
                     {{ 'MAP' | translate }}
                 </a>

                 <a class="mbutton" href="#/app/target_groups" ng-click="clearHistory()" id="tours">
                     <div class="home-icon">
                         <span class="icon-m icon-m-tours"></span>
                     </div>
                     {{ 'TOURS' | translate }}
                 </a>

                 <a class="mbutton" href="#/app/scan-exhibit" ng-click="clearHistory()" id="scan">
                     <div class="home-icon">
                         <span class="icon-m icon-m-scan"></span>
                     </div>
                     {{ 'SCAN_EXHIBIT' | translate }}
                 </a>


             </div>



             <div class="col">
                 <a class="mbutton" href="#/app/infos" ng-click="clearHistory()" id="info">
                     <div class="home-icon">
                         <span class="icon-m icon-m-home"></span>
                     </div>
                     {{ 'INFORMATIONS' | translate }}
                 </a>

                 <a class="mbutton" href="#/app/departments" ng-click="clearHistory()" id="exhibits">
                     <div class="home-icon">
                         <span class="icon-m icon-m-exhibit"></span>
                     </div>
                     {{ 'DEPARTMENTS' | translate }}
                 </a>

                 <a class="mbutton" href="#" ng-click="clearHistory()" id="routs">
                     <div class="home-icon">
                         <span class="icon-m icon-m-routs"></span>
                     </div>
                     {{ 'ROUTS' | translate }}
                 </a>

                 <a class="mbutton" href="#/app/quiz" ng-click="clearHistory()" id="quiz">
                     <div class="home-icon">
                         <span class="icon-m icon-m-quiz"></span>
                     </div>
                     {{ 'QUIZ' | translate }}
                 </a>

             </div>
         </div>

     </ion-content>
</ion-view>
