<ion-view title="Virtuelle Führung">
    <ion-content padding="'true'" class="has-header">
        <img src="img/CVlcmwSUaX4NwGCspcjA_himmelszelt.gif" width="100%" height="auto" style="width: 100%; height: auto;">
        <form class="list"></form>
        <button class="button button-stable button-block ">Start</button>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

            <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
        </div>
    </ion-content>
</ion-view>